@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
	font-family: 'Exo', sans-serif;  
    background: linear-gradient(to left, #353538 0%, #ffffff 100%);
}

.navbar 
{   
    background-color:rgba(0, 1, 19, 0.9);
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: flex-end;
    padding: 3px;
    border-radius: 0;
     
}
.navbaritem
{
    background-color: white;
    width: 100%;
    border:2px solid red;
}
.navbarname 
{
    margin-right: 42%;
   
}
.navbarname h2
{
    color: whitesmoke;
    font-size: 17px;
 
}
.navbarname h2 span
{
    color: red;
}
.navbar ul li  {
    display: inline-flex;
}
.navbar ul 
{
    margin: 0;
}
.navbar ul li a {
    text-decoration: none;    
    font-size: 16px;
    color:whitesmoke;
    padding:15px 30px 15px 30px;
}
.navbar a:hover
{
    transition: 0.8s;
    color: rgba(248, 9, 9, 0.9);
}

/* .imagebg {
    background-image: url("mixing-desk-351478_1920.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    opacity: 0.6;
    filter: alpha(opacity=60);
} */

.form-container {
    background-color: #444;
    color: #eee;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 20px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}



footer{
    font-family: monospace, Arial, sans-serif;
    background-color: black;
    text-align: center;
    color: aliceblue;
    padding: 20px;
}
footer a{
    text-decoration: none;
    color: aliceblue;
}
footer a:hover{
    color: red;
}
footer pre{
    font-size: 16px;
}
.divFloat{
    width: 33%;
    float: left;
}
footer h3{
    color: red;
}

pre{
    color: #fff;
    background-color: black;
    border: 0;
    overflow: hidden;
}